<%= render 'friends/lookup' %>
<% if @friendships.size > 0 %>
<%= render 'users/list' %>
<% else %>
  <div class="row col-lg-12">
    <p class="lead">
      Add your friends to compare your stocks!
    </p>
  </div>
<% end %>